<div class="home">
  <div class="container" id="hometitle">
  	<div class = "center">
	    <h1 class="title">MyBeer</h1>
	    <h2 class="subtitle">A beer journal</h2>
    </div>
    <%= render 'filter' %>
  </div>
</div>